<button class="add-button">Add Product</button>
<form>
    <div class="new-product-form" style="display: none;">
        <input type="text" class="new-product-name" placeholder="Product Name">
        <input type="text" class="new-product-price" placeholder="Product Price">
        <input type="text" class="new-product-stock" placeholder="Product Stock">
        <input type="text" class="new-product-url" placeholder="Product Photo URL">
        <button type="button" class="new-product-button">Submit</button>
    </div>
</form>
{{#each products as |product|}}
{{> product-details}}
{{/each}}
<script src="/js/create.js"></script>