<h2>Sign Up</h2>

<form class="form sign-up-form">
    <div class="form-group">
    <label for="name-sign-up">name:</label>
    <input class="form-input" type="text" id="name-sign-up" />
  </div>
  <div class="form-group">
    <label for="email-sign-up">email:</label>
    <input class="form-input" type="text" id="email-sign-up" />
  </div>
  <div class="form-group">
    <label for="password-sign-up">password:</label>
    <input class="form-input" type="password" id="password-sign-up" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">sign up</button>
  </div>
  <a href="./login">Login instead</a>
</form>


<script src="/js/sign-up.js"></script>