* {
  margin: 0;
  padding: 0;
}

.card img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
}

.header {
  background-color: black;
  height: 60px;
}

header {
  text-align: center;
  font-weight: bolder;
}

h1 {
  color: white;
  font-size: 50px;
}

h1,
h2,
h3 {
  text-align: center;
}

/*This should change the line height in all the browsers and prevents adjustments of font size after orientation changes in iOS */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
/*This should remove the margin in all browsers*/
body {
  /* Set the background image */
  background-image: url("/assets/ut-bros_720.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

button {
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

/*Removes the border on images inside link in IE 10*/
img {
  border-style: none;
}
nav {
  margin: 0;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}
nav a {
  color: rgb(208, 57, 57);
  text-decoration: none;
  margin-left: 5px;
}
nav a:hover {
  color: #39a1c7;
}

/*This should remove the inner border and padding in Firefox*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/*Restores the focus styles unset by the previous rule*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/*Corrects the padding in Firefox*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/*This should correct the text wrappig in EDGE and IE, Correct the color inheritance from `fieldset` elements in IE, Should remove the paddings so developers are not caught out when they zero out `fieldset` elements in all browsers*/
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
/* Add the correct vertical alignment in Chrome, Firefox, and Opera.*/
progress {
  vertical-align: baseline;
}

/* Remove the default vertical scrollbar in IE 10+.*/
textarea {
  overflow: auto;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #1a1a1a;
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

.sign-up,
.login {
  background-color: gray;
  opacity: 0.8;
  width: 40%;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% auto;
  border-radius: 6px;
}

.category-card {
  background-color: gray;
  opacity: 0.9;
  color: black;
  height: 200px;
  width: 200px;
  text-transform: uppercase;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.category-card a {
  color: black;
}

.category-card a:hover {
  color: rgb(208, 57, 57);
}

.category-card header {
  font-size: 32px;
  opacity: 1;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.products-container h2 {
  font-size: 1.8vw;
  color: white;
}

.product-card {
  margin: 10px;
  height: 200px;
  width: 700px;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.product-card img {
  width: auto;
  max-height: 190px;
}

.product_name {
  margin-left: 5px;
}

.product-card-body {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-and-stock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.price-and-stock p {
  margin: 10px;
}

.button-and-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  width: 100px;
  height: 40px;
  margin: 20px;
}

.add-button:hover {
  cursor: pointer;
}

.new-product-form {
  text-align: center;
}

.new-product-form button {
  width: 80px;
  height: 30px;
  margin: 10px;
}

.product-page {
  background-color: lightgray;
  width: 50%;
  height: auto;
  margin: 80px auto 0 auto;
}

.product-page header {
  text-transform: uppercase;
  margin-top: 20px;
}

.product-page img {
  object-fit: fill;
}

.product-page-buttons {
  width: 100%;
  text-align: center;
}

.product-page button {
  width: 90px;
  height: 45px;
  margin: 5px;
}

.update-button {
  background-color: yellow;
}

.update-product-button {
  width: 90px;
  height: 45px;
  background-color: green;
}

.delete-button {
  background-color: red;
}

.product-page-form {
  width: 50%;
  background-color: lightgray;
  margin: 0 auto;
  padding-bottom: 5px;
}

.update-product-button {
  margin-left: 25%;
}

#update-product-form {
  width: 200px;
  align-items: start;
  margin: 0 auto;
}

.update-product-form div {
  padding-top: 15px;
}

.update-product-form div input {
  height: 30px;
}

.collections-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.collections-card {
  background-color: gray;
  width: 55%;
  height: auto;
  margin: 5px;
  padding: 10px;
}

.collections-card h3 {
  font-size: 1.8vw;
  color: white;
  text-decoration: none;
}

.collections-card img {
  width: 60%;
  height: auto;
}

@media screen and (max-width: 700px) {
  .product-card {
    margin: 10px;
    height: 370px;
    width: 300px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
  }

  .product-card img {
    width: auto;
    max-height: 150px;
  }

  .product_name {
    margin-left: 0;
  }

  .product-card-body {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .update-product-form div input {
    height: 20px;
    width: 80%;
  }
}
